html(lang="en")
  head
    title= pageTitle
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="author", content="jsperov@gmail.com")
    title= htmlWebpackPlugin.options.title
  body
    h1= htmlWebpackPlugin.options.title
    div(id="table")